@import "../../Scss/Variables";
@import "../../Scss/Animations";
@import "../../Scss/Mixins";

.c-robinintro {
  position: relative;
  background: radial-gradient(ellipse at top, $special-primary 5%, rgb(69, 171, 215) 60%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  @media #{$mobile-down} {
    background: linear-gradient($special-primary 5%, rgb(69, 171, 215) 50%);
  }

  &__scroll {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    bottom: 1rem;
    z-index: $index-3;
    @include font--primary(500);
    @include scale-hover-animation(1.20, 2s);

    &:hover {
      color: $special-primary;
    }

    &Wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__sun {
    bottom: 2rem;
    width: 20rem;
    height: 20rem;
    position: absolute;
  }

  &__ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: $dark-blue;
    
    &Overflow {
      position: absolute;
      background: $dark-blue;
      width: 100%;
      height: 10rem;
    }
  }

  &__dolphin {
    position: absolute;
    transform: translateY(-90%);

    &.-hidden {
      transform: translateY(0%);
    }
    
    @media #{$tablet-down} {
      transform: translateY(-150%);
      scale: 0.5;
    }

    @media #{$mobile-down} {
      transform: translateY(-170%) translateX(-85%);
      scale: 0.4;
    }

    #Robin_Tablet {
      @include slide-up-animation(100%, 0%, 1.4s);
    }

    #Text_Bubble {
      @include fade-in-custom(1s, 1.2s)
    }
  }
  
  &__wave {
    position: absolute;
    top: -170px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  color: #043874;

  &__wave.-fourth {
    top: -200px;
    animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) reverse -.125s infinite, swell 5s ease -1.25s infinite;
  }

  &__wave.-third {
    top: -180px;
    animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) reverse -.125s infinite, swell 4s ease -1.25s infinite;
  }
  
  &__wave.-second {
    top: -140px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-45px,0);
    }
    50% {
      transform: translate3d(0,-30px,0);
    }
  }
}