@import "../../Scss/Variables";

.c-scrolldiv {
  &__wrapper {
    pointer-events: none;
    width: 100%;
    position: relative;
    height: 100vh;
  }

  &__move {
    pointer-events: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$normal-down} {
      display: none;
    }
  }

  &__canvas {
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 4rem 200px;

    @media #{$normal-down} {
      max-width: 100%;
    }

    &.-second {
      margin-left: auto;
      padding-left: 3rem;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}