@import "../../Scss/Variables";
@import "../../Scss/Mixins";

.c-language {
  display: flex;
  flex-direction: column;
  z-index: $index-4 !important;
  

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba($color-white, 0.25);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    width: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &__button {
    @include font--primary(500);
    color: $text-primary;
    background: none;
    border: none;
    outline: none;
    display: flex;
    padding: 0.5rem;
    gap: 0.25rem;
    border-radius: $border-radius--primary;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    transition: $transition-fast;
  
    svg {
      font-size: 1.3em;
      transition: transform $transition-fast;
    }
  
    &:hover {
      background-color: rgba($text-contrast, 0.4);
    }
  }

  &__listWrapper {
    position: absolute;
    right: 0rem;
    top: 125%;
    width: 11.5rem;
    border-radius: $border-radius--primary;
    overflow-y:auto; 
    overflow-x:hidden; 
    padding-right: 0.5rem;
    max-height: 10rem;
  }

  &__list {
    border-radius: $border-radius--primary;
    background: rgba($text-contrast, 0.4);
    max-width: 100%;

    &Item:first-of-type {
      border-top-left-radius: $border-radius--primary;
      border-top-right-radius: $border-radius--primary;
    }

    &Item:last-of-type {
      border-bottom-left-radius: $border-radius--primary;
      border-bottom-right-radius: $border-radius--primary;
    }

    &Item {
      @include font--primary(300);
      color: $text-primary;
      padding: 1.25rem 1rem 1.25rem 1rem;
      display: flex;
      flex-direction: column;
    }

    &Item>span {
      display: flex;
      align-items: center;
    }

    &Item:hover {
      background-color: darken(rgba($text-contrast, 0.4), 7.5%);
    }

    &Item.-active {
      padding: 0.75rem 0rem 0.75rem 1rem;
    }

    &Item svg {
      margin-left: 0.5rem;
      font-weight: 400;
    }

    &Item.-sub {
      padding-bottom: 0;
    }

    &Item.-active.-sub sub {
      margin-top: -0.5rem;
    }

    &Item sub {
      line-height: 28px;
    }

    &Item.-unavailable {
      color: darken($text-primary, 25%);
    }
  }
}