.p-home {
  width: 100%;


  background: rgb(68, 197, 215);
  background: linear-gradient(180deg, rgba(68, 197, 215, 1) 0%, rgba(44, 162, 212, 1) 25%, rgba(12, 163, 184, 1) 50%, rgba(12, 184, 143, 1) 75%, rgba(12, 184, 101, 1) 100%);

}