@import "../../Scss/Variables";

.p-home {
  width: 100%;
  background: (134, 248, 255, 1);
  background: linear-gradient(180deg,
      $dark-blue 20%,
      rgba(134, 248, 255, 1) 40%,
      rgb(3, 63, 133) 60%,
      rgb(3, 53, 110) 80%,
      rgb(1, 41, 86) 100%,
    );

}
