@import "../../Scss/Variables";

.c-animlogo {
  overflow: hidden;
  width: 10rem;
  border-radius: 3rem;

  &__logo.-hidden {
    transform: translateX(-4rem) translateY(4rem);
    transition: all 1s;
  }

  &__logo {
    transform: translateX(0) translateY(0);
    transition: all 1s;
  }

  #Robin {
    @media #{$tablet-down} {
      display: none;
    }
  }
}
