@mixin drop-in-animation($delay: 0s) {
  @keyframes drop-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  z-index: 1;
  opacity: 0;
  animation: drop-in 1s $delay forwards;
}

@mixin slide-in-animation($delay: 0.2s) {
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  z-index: 1;
  opacity: 0;
  animation: slide-in 1s $delay forwards !important;
}

@mixin slide-in-out-animation($delay: 0.2s) {
  @keyframes slide-in-out {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    10% {
      opacity: 1;
      transform: translateX(0px);
    }
    90% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
  }

  z-index: 1;
  opacity: 0;
  animation: slide-in-out 6s $delay forwards !important;
}

@mixin skewed-hover-animation($tx: 8.5rem, $ty: -4.1rem, $rz: 30deg) {
  @keyframes skewed-hover {
    from {
      transform: translateX($tx) translateY($ty) rotateZ($rz);
    }

    to {
      transform: translateX($tx + 0.2rem) translateY($ty + 0.2rem) rotateZ($rz);
    }
  }

  animation: skewed-hover 2s ease-in-out infinite alternate-reverse;
}

@keyframes hover {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-0.5rem);
  }
}

@mixin slam-animation($delay: 0s) {
  @keyframes slam {
    from {
      opacity: 0;
      scale: 5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  opacity: 0;
  scale: 5;
  animation: slam 0.8s ease-in-out $delay forwards;
}


@mixin scale-hover-animation($target: 1.05, $dur: 2s) {
  @keyframes scale-hover {
    from {
      scale: 1;
    }

    to {
      scale: $target;
    }
  }

  animation: scale-hover $dur ease-in-out infinite alternate-reverse;
}

@mixin fade-in-custom($dur: 1s, $delay: 0.5s, $bezier: cubic-bezier(.62, .06, .39, 1.01)) {
  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  opacity: 0;
  animation: fade-in $dur $bezier $delay forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}