@import '../../Scss/Variables';
@import '../../Scss/Animations';
@import '../../Scss/Mixins';

.modern-radio-component {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  margin: 0 0 0.5rem 0 !important;
  max-width: fit-content;

  .radio-outer-circle {
    margin: 0 !important;
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 2px solid $dark-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem !important;
    transition: all 100ms;

    &.unselected {
      border: 2px solid $dark-blue;
    }

    .radio-inner-circle {
      margin: 0 !important;
      max-width: 10px;
      max-height: 10px;
      min-width: 10px;
      min-height: 10px;
      border-radius: 50%;
      background-color: $dark-blue;
      transition: all 100ms;
      @include customRadioAni(10px);

      &.unselected-circle {
        max-width: 0;
        max-height: 0;
        min-height: 0;
        min-width: 0;
      }
    }
  }

  .helper-text {
    margin: 0 !important;
    color: $text-primary;
    padding-right: 8px;
    transition: all 100ms;
    @include input;

    &.unselected {
      color: $dark-blue;
    }
  }
}